<!doctype html>
<html>
  <head>
    <title>Live Buses</title>
    <!-- Include Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>
  <body>
    <!-- Create a map container -->
    <div id="map" ></div>
    <style type="text/css">
    html, body { 
        height:100%
    }
    #map {
        margin: 1em auto;
        passing: 3px;
        height:90%;
        width: 100%;
        border: 2px black;
    }                                                                                                                                                                                                            
</style>
    
    <!-- Include Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    
    <!-- Initialize the map and set the view to the coordinates 59.832, 10.8373 -->
    <script>
      var map = L.map('map').setView([59.832, 10.8373], 14);
      
      // Add an OpenStreetMap tile layer to the map
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
          maxZoom: 18
      }).addTo(map);
    </script>
    
    <!-- Loop through the list of buses and add a marker for each one -->
    {% for bus in buses %}
      <script>
        L.marker([{{ bus.lat }}, {{ bus.lon }}]).addTo(map)
          .bindPopup("{{ bus.bus_number }} <br><br> Sekunder siden forrige posisjon:<br> {{ bus.secondsSinceUpdate }}<br><br>Siste oppdatering: <br>{{ bus.last_updated.format('%H:%M:%S') }}<br>Bussnr:<br>{{bus.vehicleId}}");
      </script>
    {% endfor %}

    <div id="countdown"></div>
  <script>
    function updateCountdown() {
      // Get the current time
      var now = new Date().getTime();

      // Set the date we're counting down to
      var refreshTime = now + 60000; // 20 seconds from now

      // Update the countdown every 1 second
      var x = setInterval(function() {
        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the refresh time
        var distance = refreshTime - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the countdown element
        document.getElementById("countdown").innerHTML = "Sekunder til neste oppdatering: " + seconds + "<br>Du kan fint oppdatere oftere selv manuelt.";

        // If the countdown is finished, refresh the page
        if (distance < 0) {
          clearInterval(x);
          location.reload();
        }
      }, 1000);
    }

    // Update the countdown when the page loads
    updateCountdown();
  </script>
  </body>
</html>
